/* Color palette */
:root {
    --col-first: #f83e4b; 	
    --col-second: #f7e185; 
    --col-third: #cb9bba; 
    --col-fourth: #9d53c3;
    --col-fourth-tranc: #9e53c315;
}

/* Fonts */

:root {
    --font-orbitron: Orbitron, serif;
    --font-exo-two: 'Exo 2', serif
}

/* Main section */
.main-container {
    width: calc(100vw * 0.8);
    height: calc(100vh * 0.9 );
    border: 1px solid var(--col-fourth);
    box-shadow: 0px 0px 3px var(--col-fourth);
    background-color: var(--col-fourth-tranc);
    border-radius: 1rem;
    margin: calc(100vh * 0.05) auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
    background-color: var(--col-fourth-tranc);
    border-right: 1px solid var(--col-fourth);
    box-shadow: 0px 0px 3px var(--col-fourth);
}

.navigation > * {
    list-style: none;
    display: block;
    font-family: var(--font-exo-two);
    color: var(--col-fourth);
    font-size: 1.3rem;
    padding-left: 20px;
}

i {
    width: auto;
    height: 1.1rem;
    display: inline;
    margin-right: 10px;
}

.logo-icon {
    stroke: var(--col-first);
    height: 2rem;
    width: auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-orbitron);
    color: var(--col-first);
    font-size: 2rem;
    padding: 5px;
}

.nav-icon {
    stroke: var(--col-fourth);
    height: 1.1rem;
    width: auto;
    margin-right: 10px;
}

/* Header */

.header {
    grid-column: 2 / -1;
    height: fit-content;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.actions > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    width: 100%;
    padding: 0;
    font-family: var(--font-orbitron);
    color: var(--col-second);
    justify-items: center;
}

.actions > ul > li {
    background-color: var(--col-third);
    border: 1px solid var(--col-fourth);
    box-shadow: 0px 0px 3px var(--col-fourth);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 3rem;
    font-weight: 700;
}
